body {
    background-image: url(./images/Imagen_Fondo.jpg);
    font-family: "Open Sans", Arial;
}

h1 {
    text-align: center;
    font-size: 150px;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: -50px;
    font-weight: lighter;

}

h2 {
    text-align: center;
    font-size: 30px;
}

form {
    line-height: 15px;
}

#main {
    text-align: center;
    font-weight: bold;
}

p {
    font-style: italic;
}

hr {
    border: 1px solid transparent;
}

label {
    margin: 10px;
}

input,
textarea {
    margin: 5px;
}

table,
tr,
td {
    align-items: center;
    margin-left: 20%;
}